# Q.2

In [1]:
#importing the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#importing the dataset
df=pd.read_excel('data_final.xlsx')

In [3]:
#displaying the dataset
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [4]:
#to know the total rows and columns of the dataset
df.shape

(100, 3)

In [5]:
#to display the datatype and non null values of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   observation  100 non-null    float64
 1   feature      100 non-null    float64
 2   price        100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB

In [6]:
#to get the statistical information of the dataset
df.describe()

       observation     feature        price
count   100.000000  100.000000   100.000000
mean      0.550300    0.501700   554.214600
std       0.293841    0.307124   347.312796
min       0.010000    0.000000    42.080000
25%       0.300000    0.230000   278.172500
50%       0.570000    0.485000   514.285000
75%       0.822500    0.760000   751.752500
max       1.000000    0.990000  1563.820000

In [7]:
df.columns

Index(['observation', 'feature', 'price'], dtype='object')

In [8]:
df.isnull().sum()

observation    0
feature        0
price          0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.value_counts()

observation  feature  price
0.01         0.03     42.08      1
0.70         0.61     719.46     1
0.82         0.04     408.60     1
0.79         0.97     1194.63    1
             0.94     1143.49    1
                                ..
0.36         0.43     308.68     1
0.35         0.85     518.25     1
0.34         0.50     325.89     1
0.31         0.87     503.04     1
1.00         0.23     726.90     1
Length: 100, dtype: int64

In [11]:
X = df.iloc[:,:-1]

In [12]:
X

    observation  feature
0          0.44     0.68
1          0.99     0.23
2          0.84     0.29
3          0.28     0.45
4          0.07     0.83
..          ...      ...
95         0.99     0.13
96         0.28     0.46
97         0.87     0.36
98         0.23     0.87
99         0.77     0.36

[100 rows x 2 columns]

In [13]:
y = df['price'].values

In [14]:
y

array([ 511.14,  717.1 ,  607.91,  270.4 ,  289.88,  830.85, 1038.09,
        455.19,  640.17,  511.06,  177.03, 1242.52,  891.37, 1339.72,
        169.88,  276.05,  517.43,  522.25,  932.21,  851.25,  640.11,
        308.68, 1046.05,  332.4 ,  171.85,  109.55,  361.97,  872.21,
        303.7 ,  256.38,  341.2 , 1194.63,  408.6 ,  895.54,  518.25,
        638.75,  301.9 ,  163.38,  240.77, 1449.05,  609.  ,  174.59,
        593.45,  355.96,  671.46, 1193.7 ,  278.88,  411.4 ,   42.08,
        166.19,   58.62,  642.45,  368.14,  702.78,  615.74,  143.79,
        109.  ,  328.28,  205.16, 1360.49,  905.83,  487.33,  202.76,
        202.01,  148.87,  745.3 ,  503.04, 1563.82,  165.21,  438.4 ,
         98.47,  819.63,  174.44,  483.13,  534.24,  572.31,  957.61,
        518.29, 1143.49, 1211.31,  784.74,  283.7 ,  684.38,  719.46,
        292.23,  775.68,  130.77,  801.6 ,  323.55,  726.9 ,  661.12,
        771.11, 1016.14,  237.69,  325.89,  636.22,  272.12,  696.65,
        434.53,  593.86])

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [17]:
from sklearn.metrics import r2_score

In [18]:
y_pred = model.predict(x_test)
print(r2_score(y_test, y_pred))

0.9520803113915314

In [19]:
from sklearn.preprocessing import PolynomialFeatures
reg=PolynomialFeatures(degree=3)
poly=reg.fit_transform(X)
model1=LinearRegression()
model1.fit(poly,y)

LinearRegression()

In [21]:
#summary
import statsmodels.api as sm
x_stats = sm.add_constant(x_train)
summ= sm.OLS(y_train,x_stats).fit()
summ.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.937
Model:                            OLS   Adj. R-squared:                  0.935
Method:                 Least Squares   F-statistic:                     567.9
Date:                Mon, 23 Jan 2023   Prob (F-statistic):           8.03e-47
Time:                        17:35:15   Log-Likelihood:                -471.29
No. Observations:                  80   AIC:                             948.6
Df Residuals:                      77   BIC:                             955.7
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        -257.7030     25.766    -10.002      0.000    -309.009    -206.397
observation   880.1814     34.631     25.416      0.000     811.223     949.140
feature       655.9319     32.754     20.026      0.000     590.709     721.154
==============================================================================
Omnibus:                       30.682   Durbin-Watson:                   1.784
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.370
Skew:                           1.601   Prob(JB):                     1.90e-11
Kurtosis:                       5.136   Cond. No.                         5.13
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""